# 부트스트랩(BootStrap)

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.utils import resample

In [2]:
loans_income = pd.read_csv('../제공자료/data/loans_income.csv').squeeze('columns')

results = []
for nrepeat in range(1000):
    sample = resample(loans_income)
    results.append(sample.median())
results = pd.Series(results)
print('Bootstrap Statistics:')
print(f'original: {loans_income.median()}')
print(f'bias: {results.mean() - loans_income.median()}')
print(f'std. error: {results.std()}')

Bootstrap Statistics:
original: 62000.0
bias: -75.40000000000146
std. error: 215.02051255827095

In [3]:
loans_income = pd.read_csv('../제공자료/data/loans_income.csv')
loans_income

            x
0       67000
1       52000
2      100000
3       78762
4       37041
...       ...
49995   40000
49996   54000
49997   50000
49998   82000
49999   70000

[50000 rows x 1 columns]

In [4]:
loans_income = pd.read_csv('../제공자료/data/loans_income.csv').squeeze('columns')
loans_income

0         67000
1         52000
2        100000
3         78762
4         37041
          ...
49995     40000
49996     54000
49997     50000
49998     82000
49999     70000
Name: x, Length: 50000, dtype: int64